h1
{
    text-align: left;
    color: black;
    font-size: 20px;
/*
    padding: 100px;
*/
}

P
{
    color: black;
    font-size: 20px;
    text-transform : capitalize;
}
P1
{
    color: black;
    font-size: 20px;
}
P2
{
    color: black;
    font-size: 20px;
    text-transform : capitalize;
}
body
{
background-color: grey;
}
Footer
{
    text-align: right;
    color: black;
    font-size: 12px;
}
.serie
{
width:100%;
height:300px;
margin-bottom:100px;
}
hrepos
{
    text-align: left;
    color: black;
    font-size: 20px;
    font-weight:bold;
    padding: 5px;
}
.repos
{
width:100%;
clear:both;
}
.scoreText
{
    color: blue;
    font-size: 14px;
    text-transform : capitalize;
}
.terrain
{
    text-align: center;
    color: white;
    padding: 10px;
    width: 18%;
    height: 340px;
    float: left;
    margin-bottom: 20px;
}
.demiTerrainHaut
{
    text-align: left;
    padding: 10px;
    color: white;
    height: 120px;
    border: 2px solid black;
    background-color: white;
}
.demiTerrainBas
{
    text-align: right;
    padding: 10px;
    color: white;
    height: 120px;
    border: 2px solid black;
    background-color: white;
}
.score
{
    width: 40px;
}
.numberOfseriesWewant
{
    width: 40px;
}
.nbFields
{
    width: 40px;
}
.r2
{
    color: black;
    font-size: 20px;
    padding-left: 100px;
}
td
{
    border: 1px solid black;
    padding: 3px;
    background-color: white;
}
caption
{
    font-size: 15px;
    text-transform : capitalize;
}
.nbmatch
{
    text-align: center;
}
.nbWins
{
    text-align: center;
}
.points
{
    text-align: right;
}
.name
{
    text-transform : capitalize;
    width: 150px;
    height: 16px;
}
.name_ref
{
    text-transform : capitalize;
    width: 150px;
    height: 16px;
}
.alias
{
    text-transform : capitalize;
    width: 20px;
    height: 16px;
}
.index
{
    text-transform : capitalize;
    width: 20px;
    height: 16px;
}
.id
{
    width: 16px;
}
.nomJoueur
{
    font-size: 12px;
}
.interTable
{
    width: 10px;
    float: left;
    height: 400px;
}
.interTableEnd
{
    width: 10px;
    float: left;
    height: 10px;
}
.playersGroup1
{
    float: left;
/*
    padding-left: 300px;
*/
}
/*
.playersGroup2
{
    float: left;
}
*/
.playersLevelOneNames
{
    float: left;
/*
    padding-left: 10px;
*/
}
.playersLevelOne
{
    float: left;
/*
    padding-left: 10px;
*/
}
.playersLevelTwoNames
{
    float: left;
/*
    padding-left: 10px;
*/
}
.playersLevelTwo
{
    float: left;
}
.minuteur
{
    padding-top:130px;
    text-align: center;
    font-size: 300px;
}

#menu-demo2, #menu-demo2 ul
{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu-demo2 li
{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#menu-demo2 ul li
{
display:inherit;
border-radius:0;
}
#menu-demo2 ul li:hover
{
border-radius:0;
}
#menu-demo2 ul li:last-child
{
border-radius:0 0 8px 8px;
}
#menu-demo2 ul
{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-demo2 li:hover ul
{
max-height:30em;
}
/* background des liens menus */
#menu-demo2 li:first-child
{
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
#menu-demo2 li:nth-child(2)
{
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
#menu-demo2 li:nth-child(3)
{
background-color: #F6AD1A;
background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
#menu-demo2 li:nth-child(4)
{
background-color: #F6AD1A;
background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
#menu-demo2 li:nth-child(5)
{
background-color: #F6AD1A;
background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
#menu-demo2 li:last-child
{
background-color: #CFFF6A;
background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}
/* background des liens sous menus */
#menu-demo2 li:first-child li
{
background:#2A2333;
}
#menu-demo2 li:nth-child(2) li
{
background:#333A40;
}
#menu-demo2 li:nth-child(3) li
{
background:#9F391A;
}
#menu-demo2 li:nth-child(4) li
{
background:#9F391A;
}
#menu-demo2 li:nth-child(4) li
{
background:#9F391A;
}
#menu-demo2 li:last-child li
{
background:#677F35;
}
/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover
{
background:#65537A;
}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover
{
background:#729EBF;
}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover
{
background:#F6AD1A;
}
#menu-demo2 li:nth-child(4):hover, #menu-demo2 li:nth-child(3) li:hover
{
background:#F6AD1A;
}
#menu-demo2 li:nth-child(5):hover, #menu-demo2 li:nth-child(3) li:hover
{
background:#F6AD1A;
}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover
{
background:#CFFF6A;
}
/* les a href */
#menu-demo2 a
{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu-demo2 ul a
{
padding:8px 0;
}
#menu-demo2 li:hover li a
{
color:#fff;
text-transform:inherit;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a
{
color:#000;
}
