<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Minuteur</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    </head>
        <body>
        <section class="bandeau_menu">
            <ul id="menu-demo2">
                <li><a href="#">Minuteur</a></li>
            </ul>
        </section>
    <body>
        <div class="minuteur"><span id="timer"></span>

        <script>
            document.getElementById('timer').innerHTML =  {{minute}} + ":" + 00;
            startTimer();

            function startTimer() {
              var presentTime = document.getElementById('timer').innerHTML;
              var timeArray = presentTime.split(/[:]+/);
              var m = timeArray[0];
              var s = checkSecond((timeArray[1] - 1));
              if(s==59){m=m-1}
              if(m<0){alert('TERMINE')}
              document.getElementById('timer').innerHTML = m + ":" + s;
              setTimeout(startTimer, 1000);
            }

            function checkSecond(sec) {
              if (sec < 10 && sec >= 0) {sec = "0" + sec};
              if (sec < 0) {sec = "59"};
              return sec;
            }
        </script>
    </body>
</html>
