<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Players</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    </head>
    <body>
        <form method="POST" action="">
            <BR>
            <BR>
            <h1>ATTENTION : IL Y A AU MOINS UN DOUBLON DE NOM, VEUILLEZ CORRIGER</h1>
                <BR>
              {% for doublon in doublons %}
                {{doublon}}
              {% endfor %}
              <BR>
              <BR>
               <section class="playersLevelOneNames">
                    <table>
                        <tr>
                            <th>No</th>
                            <th>Joueurs Niveau 1</th>
                        </tr>
                        {% for player in players['levelOne'] %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td><input class="name_ref" type="text" id="l1_name{{loop.index}}" name="l1_name{{loop.index}}" value="{{player}}"></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="field_wrapper1">
                        <div>
                            <input type="text" name="l1_names" value=""/>
                            <a href="javascript:void(0);" class="add_button1" title="Add field"><img src="static/plus.png" width=20 height=20/></a>
                        </div>
                    </div>
                </section>

                <section class="interTable"></section>

               <section class="playersLevelTwoNames">
                    <table>
                        <tr>
                            <th>No</th>
                            <th>Joueurs Niveau 2</th>
                        </tr>
                        {% for player in players['levelTwo'] %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td><input class="name_ref" type="text" id="l2_name{{loop.index}}" name="l2_name{{loop.index}}" value="{{player}}"></td>
                            </tr>
                        {% endfor %}
                    </table>
                </section>

        <BR>
        <INPUT type="submit" value="valider les joueurs">
        </FORM>
    </body>
</html>
