<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Players</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    </head>
    <script type="text/javascript">
    $(document).ready(function(){
        var maxField = 60; //Input fields increment limitation
        var addButton1 = $('.add_button1'); //Add button selector
        var addButton2 = $('.add_button2'); //Add button selector
        var wrapper1 = $('.field_wrapper1'); //Input field wrapper
        var wrapper2 = $('.field_wrapper2'); //Input field wrapper
        var fieldHTML1 = '<div><input type="text" name="l1_names" value=""/><a href="javascript:void(0);" class="remove_button" title="Remove field"><img src="static/trash.png" width=20 height=20 /></a></div>'; //New input field html
        var fieldHTML2 = '<div><input type="text" name="l2_names" value=""/><a href="javascript:void(0);" class="remove_button" title="Remove field"><img src="static/trash.png" width=20 height=20 /></a></div>'; //New input field html
        var x = 1; //Initial field counter is 1
        $(addButton1).click(function(){ //Once add button is clicked
            if(x < maxField){ //Check maximum number of input fields
                x++; //Increment field counter
                $(wrapper1).append(fieldHTML1); // Add field html
            }
        });
        $(addButton2).click(function(){ //Once add button is clicked
            if(x < maxField){ //Check maximum number of input fields
                x++; //Increment field counter
                $(wrapper2).append(fieldHTML2); // Add field html
            }
        });
        $(wrapper1).on('click', '.remove_button', function(e){ //Once remove button is clicked
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
        $(wrapper2).on('click', '.remove_button', function(e){ //Once remove button is clicked
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
    });
    </script>
    <body>
        <form method="POST" action="">
            <BR>
            <BR>{% if doublons  %}
              <h1>ATTENTION : IL Y A AU MOINS UN DOUBLON DE NOM, VEUILLEZ CORRIGER</h1>
                  <BR>
                {% for doublon in doublons %}
                  {{doublon}}
                {% endfor %}
                <BR>
                <BR>
                {% endif %}
            <h1>Joueurs du tournoi</h1>
                <BR>
               <section class="playersLevelOneNames">
                    <table>
                        <tr>
                            <th>No</th>
                            <th>Joueurs Niveau 1</th>
                        </tr>
                        {% for player in players['levelOne'] %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td><input class="name_ref" type="text" id="l1_id{{loop.index}}" name="l1_name" value="{{player}}"></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="field_wrapper1">
                        <div>
                            <input type="text" name="l1_names" value=""/>
                            <a href="javascript:void(0);" class="add_button1" title="Add field"><img src="static/plus.png" width=20 height=20/></a>
                        </div>
                    </div>
                </section>

                <section class="interTable"></section>

               <section class="playersLevelTwoNames">
                    <table>
                        <tr>
                            <th>No</th>
                            <th>Joueurs Niveau 2</th>
                        </tr>
                        {% for player in players['levelTwo'] %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td><input class="name_ref" type="text" id="l2_id{{loop.index}}" name="l2_name" value="{{player}}"></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="field_wrapper2">
                        <div>
                            <input type="text" name="l2_names" value=""/>
                            <a href="javascript:void(0);" class="add_button2" title="Add field"><img src="static/plus.png" width=20 height=20/></a>
                        </div>
                    </div>
                </section>

        <BR>
        <INPUT type="submit" value="valider les joueurs">
        </FORM>
    </body>
</html>
