<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Players</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    </head>

    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
    </script>

    <body>
        <form method="POST" action="">
            <BR>
            <BR>

            <h1>Veuillez positionner chaque joueur en fonction du nombre de match qu'il fera</h1>
                <BR>
               <section class="playersLevelOneNames">
                    <table>
                        <tr>
                            <th>Liste</th>
                        </tr>
                        {% for player in player_names['levelOne'] %}
                            <tr>
                                <td><input class="name_ref" type="text" id="{{player}}" name="{{player}}" value="{{player}}" draggable="true" ondragstart="drag(event)"></td>
                            </tr>
                        {% endfor %}
                    </table>
                </section>

                <section class="interTable"></section>

                <section class="playersLevelOne">
                    <table>
                        <tr>
                            <th>No</th>
                            <th>Alias</th>
                            <th>Nom</th>
                            <th>nbMatch</th>
                        </tr>
                        {% for player in level_one_players %}
                            <tr>
                                {% if loop.index < 10 %}
                                    <td>0{{loop.index}}</td>
                                    <td><input class="alias" type="text" id="l1_alias{{loop.index}}" name="l1_alias{{loop.index}}" value="{{player['alias']}}"></td>
                                    <td><input class="name" type="text" id="l1_name{{loop.index}}"  name="l1_name{{loop.index}}" value="{{player['name']}}"></td>
                                    <td class="nbmatch">{{player['nb_match']}}</td>
                                {% endif %}
                                {% if loop.index >= 10 %}
                                    <td>{{loop.index}}</td>
                                    <td><input class="alias" type="text" id="l1_alias{{loop.index}}" name="l1_alias{{loop.index}}" value="{{player['alias']}}"></td>
                                    <td><input class="name" type="text" id="l1_name{{loop.index}}" name="l1_name{{loop.index}}" value="{{player['name']}}"></td>
                                    <td class="nbmatch">{{player['nb_match']}}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </section>

                <section class="interTable"></section>

               <section class="playersLevelTwoNames">
                    <table>
                        <tr>
                            <th>Liste</th>
                        </tr>
                        {% for player in player_names['levelTwo'] %}
                            <tr>
                                <td><input class="name_ref" type="text" id="{{player}}" name="{{player}}" value="{{player}}" draggable="true" ondragstart="drag(event)"></td>
                            </tr>
                        {% endfor %}
                    </table>
                </section>

                <section class="interTable"></section>

                <section class="playersLevelTwo">
                    <table>
                        <tr>
                            <th>No</th>
                            <th>Alias</th>
                            <th>Nom</th>
                            <th>nbMatch</th>
                        </tr>
                        {% for player in level_two_players %}
                            <tr>
                                {% if loop.index < 10 %}
                                    <td>0{{loop.index}}</td>
                                    <td><input class="alias" type="text" id="l2_alias{{loop.index}}" name="l2_alias{{loop.index}}" value="{{player['alias']}}"></td>
                                    <td><input class="name" type="text" id="l2_name{{loop.index}}" name="l2_name{{loop.index}}" value="{{player['name']}}"></td>
                                    <td class="nbmatch">{{player['nb_match']}}</td>
                                {% endif %}
                                {% if loop.index >= 10 %}
                                    <td>{{loop.index}}</td>
                                    <td><input class="alias" type="text" id="l2_alias{{loop.index}}" name="l2_alias{{loop.index}}" value="{{player['alias']}}"></td>
                                    <td><input class="name" type="text" id="l2_name{{loop.index}}" name="l2_name{{loop.index}}" value="{{player['name']}}"></td>
                                    <td class="nbmatch">{{player['nb_match']}}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </section>
            <BR>
        <INPUT type="submit" value="valider les joueurs">
        </FORM>
    </body>
</html>
