<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Players</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    </head>
    <body>

        <section class="Problem">
        <BR>
            <h1>Le programme a rencontré une erreur grave</h1>
            Message : {{message}}

        </section>

    </body>
    <footer>
    Réalisation : René Robert - Les As du Volant de Rospez
    </footer>
</html>
