<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    </head>
    <body>
        <form method="POST" action="">

            <P1>
                <input type="radio" name="reload_or_new" value="1" id="new" checked="checked"/>
                    <label for "new">Nouveau Tournoi</label><br />
                <input type="radio" name="reload_or_new" value="2" id="reload" />
                    <label for "reload">Reprise du dernier tournoi</label><br />
            </P1>
            <BR>
            <BR>
         <INPUT type="submit" value="valider les choix">
            <BR>
            <BR>
            <BR>
            <BR>
        </FORM>
    </body>
    <footer>
    Réalisation : René Robert - Les As du Volant de Rospez
    </footer>
</html>
