<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Resultat Serie {{serie_number}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    </head>
    <body>
        <section class="bandeau_menu">
            <ul id="menu-demo2">
                <li><a href="#">Joueurs</a>
                    <ul>
                        {% if tournament_style == '2' %}
                            <li><a href="../playersByTeam/">par equipe</a></li>
                        {% endif %}
                        <li><a href="../playersByLevel/">par niveau</a></li>
                    </ul>
                </li>
                <li><a href="#">Series</a>
                    <ul>
                       {% for serie in series %}
                       <li><a href="../serie{{series.index(serie)+1}}/">Serie{{series.index(serie)+1}}</a></li>
                       {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Resultats</a>
                    <ul>
                       {% for result_serie in result_series %}
                       <li><a href="../resultSerie{{result_series.index(result_serie)+1}}/">Serie{{result_series.index(result_serie)+1}}</a></li>
                       {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Classement</a>
                    <ul>
                        {% if tournament_style == '2' %}
                            <li><a href="../resultPlayersByTeam/">par equipe</a></li>
                        {% endif %}
                        <li><a href="../resultPlayersByLevel/">par niveau</a></li>
                    </ul>
                </li>
                <li><a href="#">Minuteur</a>
                    <ul>
                        <li><a href="../minuteur8/" target="_blank">8 minutes</a></li>
                        <li><a href="../minuteur7/" target="_blank">7 minutes</a></li>
                        <li><a href="../minuteur6/" target="_blank">6 minutes</a></li>
                        <li><a href="../minuteur5/" target="_blank">5 minutes</a></li>
                    </ul>
                </li>
            </ul>
        </section>


        <section class="serie">
            <h1>Serie N°{{serie_number}}</h1>
            {% for match in result_serie %}
                <section class="terrain">
                    <h1>Terrain {{result_serie.index(match)+1}}</br></h1>
                    <section class="demiTerrainHaut">
                        <p class="double">
                            </br>{{match['teamA']['player1']['name']}} et {{match['teamA']['player2']['name']}}
                            </br>score {{match['scoreA']}}
                        </p>
                    </section>
                    <section class="demiTerrainBas">
                        <p class="double">
                            </br>{{match['teamB']['player1']['name']}} et {{match['teamB']['player2']['name']}}
                            </br>score {{match['scoreB']}}
                        </p>
                    </section>
                </section>
            {% endfor %}
        </section>


        <section class="repos">
            <hrepos>Joueurs au repos :</hrepos>
            <P>
                {% for player in players_in_rest %}
                    {{player['name']}}
                {% endfor %}
            </P>
        </section>

    </body>
    <footer>
    Réalisation : René Robert - Les As du Volant de Rospez
    </footer>
</html>
