<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Players</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    </head>
    <body>
        <section class="bandeau_menu">
            <ul id="menu-demo2">
                <li><a href="#">Joueurs</a>
                    <ul>
                        {% if tournament_style == '2' %}
                            <li><a href="../playersByTeam/">par equipe</a></li>
                        {% endif %}
                        <li><a href="../playersByLevel/">par niveau</a></li>
                    </ul>
                </li>
                <li><a href="#">Series</a>
                    <ul>
                       {% for serie in series %}
                       <li><a href="../serie{{series.index(serie)+1}}/">Serie{{series.index(serie)+1}}</a></li>
                       {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Resultats</a>
                    <ul>
                       {% for result_serie in result_series %}
                       <li><a href="../resultSerie{{result_series.index(result_serie)+1}}/">Serie{{result_series.index(result_serie)+1}}</a></li>
                       {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Classement</a>
                    <ul>
                        {% if tournament_style == '2' %}
                            <li><a href="../resultPlayersByTeam/">par equipe</a></li>
                        {% endif %}
                        <li><a href="../resultPlayersByLevel/">par niveau</a></li>
                    </ul>
                </li>
                <li><a href="#">Minuteur</a>
                    <ul>
                        <li><a href="../minuteur8/" target="_blank">8 minutes</a></li>
                        <li><a href="../minuteur7/" target="_blank">7 minutes</a></li>
                        <li><a href="../minuteur6/" target="_blank">6 minutes</a></li>
                        <li><a href="../minuteur5/" target="_blank">5 minutes</a></li>
                    </ul>
                </li>
            </ul>
        </section>

        <section>
        <BR>
        <BR>
        <h1>CLASSEMENT par NIVEAU</h1>
            calcul effectué sur les {{min_match}} premiers matchs joués par chaque joueur
            <BR><BR>
            <section class="playersLevelOne">
                <table>
                    <caption>NIVEAU 1</caption>
                    <tr>
                        <th> </th>
                        <th>Nom</th>
<!--
                        <th>Classement</th>
-->
                        <th>Joués</th>
                        <th>Gagnés</th>
<!--
                        <th>Perdus</th>
-->
                        <th>P+</th>
                        <th>P-</th>
                        <th>Diff</th>
                    </tr>
                    {% for player in level_one_players %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td class="name">{{player['name']}}</td>
<!--
                            <td class="name">{{player['rang']}}</td>
-->
                            <td class="nbmatch">{{player['nbJoues']}}/{{player['nb_match']}}</td>
                            <td class="nbWins">{{player['nbWins']}}</td>
<!--
                            <td>{{player['nbLooses']}}</td>
-->
                            <td class="points">{{player['totalPointMarques']}}</td>
                            <td class="points">{{player['totalPointEncaisses']}}</td>
                            <td class="points">{{player['diffPoints']}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
            <section class="interTable">
            </section>
            <section class="playersLevelTwo">
                <table>
                    <caption>NIVEAU 2</caption>
                    <tr>
                        <th> </th>
                        <th>Nom</th>
<!--
                        <th>Classement</th>
-->
                        <th>Joués</th>
                        <th>Gagnés</th>
<!--
                        <th>Perdus</th>
-->
                        <th>P+</th>
                        <th>P-</th>
                        <th>Diff</th>
                    </tr>
                    {% for player in level_two_players %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td class="name">{{player['name']}}</td>
<!--
                            <td class="name">{{player['rang']}}</td>
-->
                            <td class="nbmatch">{{player['nbJoues']}}/{{player['nb_match']}}</td>
                            <td class="nbWins">{{player['nbWins']}}</td>
<!--
                            <td>{{player['nbLooses']}}</td>
-->
                            <td class="points">{{player['totalPointMarques']}}</td>
                            <td class="points">{{player['totalPointEncaisses']}}</td>
                            <td class="points">{{player['diffPoints']}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </section>
    </body>
</html>
