<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Serie {{serie_number}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    </head>


    <body>
        <form method="POST" action="">

        <section class="bandeau_menu">
            <ul id="menu-demo2">
                <li><a href="#">Joueurs</a>
                    <ul>
                        {% if tournament_style == '2' %}
                            <li><a href="../playersByTeam/">par equipe</a></li>
                        {% endif %}
                        <li><a href="../playersByLevel/">par niveau</a></li>
                    </ul>
                </li>
                <li><a href="#">Series</a>
                    <ul>
                       {% for serie in series %}
                       <li><a href="../serie{{series.index(serie)+1}}/">Serie{{series.index(serie)+1}}</a></li>
                       {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Resultats</a>
                    <ul>
                       {% for result_serie in result_series %}
                       <li><a href="../resultSerie{{result_series.index(result_serie)+1}}/">Serie{{result_series.index(result_serie)+1}}</a></li>
                       {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Classement</a>
                    <ul>
                        {% if tournament_style == '2' %}
                            <li><a href="../resultPlayersByTeam/">par equipe</a></li>
                        {% endif %}
                        <li><a href="../resultPlayersByLevel/">par niveau</a></li>
                    </ul>
                </li>
                <li><a href="#">Minuteur</a>
                    <ul>
                        <li><a href="../minuteur8/" target="_blank">8 minutes</a></li>
                        <li><a href="../minuteur7/" target="_blank">7 minutes</a></li>
                        <li><a href="../minuteur6/" target="_blank">6 minutes</a></li>
                        <li><a href="../minuteur5/" target="_blank">5 minutes</a></li>
                    </ul>
                </li>
            </ul>
        </section>


        <section class="serie">
            <h1>Serie N°{{serie_number}}</h1>
            {% for match in serie %}
                <section class="terrain">
                    <h1>Terrain {{serie.index(match)+1}}</br></h1>
                    <section class="demiTerrainHaut">
                        <P2>{{match['teamA']['player1']['name']}}</P2>
                        <P1>et</P1>
                        <P2>{{match['teamA']['player2']['name']}}</P2>
                        <p class="scoreText">
                            score : <input class="score" type="number" name="scoreA{{serie.index(match)+1}}" value="{{match['scoreA']}}"/>
                        </p>
                    </section>
                    <section class="demiTerrainBas">
                        <P2>{{match['teamB']['player1']['name']}}</P2>
                        <P1>et</P1>
                        <P2>{{match['teamB']['player2']['name']}}</P2>
                        <p class="scoreText">
                            score : <input class="score" type="number" name="scoreB{{serie.index(match)+1}}" value="{{match['scoreB']}}"/>
                        </p>
                    </section>
                </section>
            {% endfor %}
        </section>

        <section class="repos">
            <hrepos>Joueurs au repos :</hrepos>
            <P>
                {% for player in players_in_rest %}
                    {{player['name']}}
                {% endfor %}
            </P>
        </section>

        <section class="bouton">
            <BR>
            <P>
                <INPUT type="submit" value="Enregistrer les scores">
            </P>
        </section>

        </FORM>
    </body>

    <footer>
    Réalisation : René Robert - Les As du Volant de Rospez
    </footer>
</html>
