<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    </head>
    <body>
        <form method="POST" action="">

            <P1>
                Nom du Tournoi
                <input type="text" name="tournamentName" id="tournament_name" placeholder="Rospez-Pleumeur"  > (la date sera ajoutée automatiquement) <br/>

                Tournoi 1 club ou Tournoi 2 clubs ?<br />
                <input type="radio" name="tournamentStyle" value="1" id="unClub" checked="checked"/>
                    <label for "unClub">Tournoi au sein d'un club</label><br />
<!--
                <input type="radio" name="tournamentStyle" value="2" id="deuxClubs" />
                    <label for "deuxClubs">Tournoi entre deux clubs</label><br />
-->
                <input type="radio" name="tournamentStyle" value="3" id="deuxClubs" />
                    <label for "doubleTournoi">Double Tournoi en alternance </label><br />
            </P1>
            <BR>
            <P1>
                Nombre de terrains ?<br />
<!--
                <input class="nbFields" type="number" name="nb_fields" value="5"/>
-->
                <input type="radio" name="nb_fields" value="5" id="fiveFields" checked="checked"/>
                    <label for "fiveFields">5 terrains</label><br />
                <!-- <input type="radio" name="nb_fields" value="8" id="eightFields" />
                    <label for "eightFields">8 terrains</label><br /> -->
            </P1>
            <BR>
            <P1>Nombre de series souhaitées ?
                <select name="numberOfseriesWewant" id="numberOfseriesWewant">
                    <!-- <option value="08">08</option> -->
                    <option value="10" selected>10</option>
                    <!-- <option value="12">12</option> -->
                    <option value="14">14</option>
               </select>

            </P1>
            <BR>
            <BR>
         <INPUT type="submit" value="valider les choix">
            <BR>
            <BR>
            <BR>
            <BR>
        </FORM>
    </body>
    <footer>
    Réalisation : René Robert - Les As du Volant de Rospez
    </footer>
</html>
