<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Players</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    </head>
    <body>
        <section class="bandeau_menu">
            <ul id="menu-demo2">
                <li><a href="#">Joueurs</a>
                    <ul>
                        {% if tournament_style == '2' %}
                            <li><a href="../playersByTeam/">par equipe</a></li>
                        {% endif %}
                        <li><a href="../playersByLevel/">par niveau</a></li>
                    </ul>
                </li>
                <li><a href="#">Series</a>
                    <ul>
                       {% for serie in series %}
                       <li><a href="../serie{{series.index(serie)+1}}/">Serie{{series.index(serie)+1}}</a></li>
                       {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Resultats</a>
                    <ul>
                       {% for result_serie in result_series %}
                       <li><a href="../resultSerie{{result_series.index(result_serie)+1}}/">Serie{{result_series.index(result_serie)+1}}</a></li>
                       {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Classement</a>
                    <ul>
                        {% if tournament_style == '2' %}
                            <li><a href="../resultPlayersByTeam/">par equipe</a></li>
                        {% endif %}
                        <li><a href="../resultPlayersByLevel/">par niveau</a></li>
                    </ul>
                </li>
                <li><a href="#">Minuteur</a>
                    <ul>
                        <li><a href="../minuteur8/" target="_blank">8 minutes</a></li>
                        <li><a href="../minuteur7/" target="_blank">7 minutes</a></li>
                        <li><a href="../minuteur6/" target="_blank">6 minutes</a></li>
                        <li><a href="../minuteur5/" target="_blank">5 minutes</a></li>
                    </ul>
                </li>
            </ul>
        </section>

        <section class="welcome">
        <BR>
        <BR>
        <BR>
        <BR>
            <h1>Tournoi de Badminton en mode loisir</h1>
        </section>

    </body>
    <footer>
    Réalisation : René Robert - Les As du Volant de Rospez
    </footer>
</html>
